
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
     <table style="width:100%;background-color:darkgrey;text-align:center;border-style:dotted">
         <tr>
             <td><b>welcome to web app development using @ViewBag.msg</b> </td>
             </tr>
             </table>
</body>
</html>
