@using MVCcoreWebAppHTD1.Models
@model bulkmodel 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table id="tblEmployee" class="table" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:150px">EmployeeId</th>
                <th style="width:150px">Name</th>
                <th style="width:150px">Role</th>
                <th style="width:150px">Age</th>
                <th style="width:150px">Salary</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    
  <tfoot>
            <tr>
                <td><input type="text" id="txtEmployeeId" /></td>
                 <td><input type="text" id="txtName" /></td>
                <td><input type="text" id="txtRole" /></td>
                 <td><input type="text" id="txtAge" /></td>
                <td><input type="text" id="txtSalary" /></td>
                <td><input type="button" id="btnAdd" value="Add" /></td>
            </tr>
        </tfoot>
     </table>
    <input type="submit" id="btnSave" value="Save All" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script type="text/javascript">
        $("body").on("click", "#btnAdd", function () {
            var txtEmployeeId = $("#tblEmployee");
            var txtName = $("#txtName");
            var txtRole = $("#txtRole");
             var txtAge = $("#txtAge");
            var txtSalary = $("#txtSalary");
            var tBody = $("#tblEmployee > TBODY")[0];
            var row = tBody.insertRow(-1);
            var cell = $(row.insertCell(-1));
            cell.html(txtEmployeeId.val());
            cell = $(row.insertCell(-1));
            cell.html(txtName.val());
            cell = $(row.insertCell(-1));
            cell.html(txtRole.val());
            cell = $(row.insertCell(-1));
             cell.html(txtAge.val());
            cell = $(row.insertCell(-1));
            cell.html(txtSalary.val());
            cell = $(row.insertCell(-1));
            var btnRemove = $("<input />");
            btnRemove.attr("type", "button");
            btnRemove.attr("onclick", "Remove(this);");
            btnRemove.val("Remove");
            cell.append(btnRemove);
            txtEmployeeId.val("");
            txtName.val("");
            txtRole.val("");+
            txtRole.val("");
            txtSalary.val("");
        });
 
        function Remove(button) {
            var row = $(button).closest("TR");
            var name = $("TD", row).eq(0).html();
            if (confirm("Do you want to delete: " + name)) {
                var table = $("#tblEmployee")[0];
                table.deleteRow(row[0].rowIndex);
            }
        };
 
        $("body").on("click", "#btnSave", function () {
            var customers = new Array();
            $("#tblEmployee TBODY TR").each(function () {
                var row = $(this);
                var obj = {};
                obj.EmployeeId = row.find("TD").eq(0).html();
                obj.Name = row.find("TD").eq(1).html();
                obj.Role = row.find("TD").eq(2).html();
                obj.Age = row.find("TD").eq(3).html();
                obj.Salary = row.find("TD").eq(4).html();
                customers.push(obj);
            });
 
            $.ajax({
                type: "POST",
                url: "/Home/Insert",
                data: JSON.stringify(customers),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (r) {
                    alert(r + " record(s) inserted.");
                }
            });
        });
    </script>

    </body>
    </html>



