
@{
    ViewData["Title"] = "ExonViewData";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<h1>ExonViewData</h1>


<p>ViewData example :@ViewData["vd"]</p>
<p>ViewBag example :@ViewBag.vd</p>
<p>TempData example :@TempData["td"]</p>